{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mocha/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "mocha"],
  "rules": {
    "mocha/no-mocha-arrows": 0
  },
  "env": {
    "mocha": true
  }
}
